<a href="https://colab.research.google.com/github/DMariz/MachineLearnCollab/blob/main/AulaMachineLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula Machine Learn
### Relembrando Pyhton

In [ ]:
def Salario_Total (qtdeVendas):
  SALARIO_BASE = 4200
  extra = qtdeVendas * 20
  return SALARIO_BASE + extra

resposta =Salario_Total( int(input()))

print(resposta)

3
4260

In [ ]:
#Vendas da semana seguem a ordem de Segunda -> Domingo
vendasSemana = [7,6,5,4,3,2,1]

qtdeVendasSegunda =  7
qtdeVendasTerca = 6
qtdeVendasQuarta = 5
qtdeVendasQuinta = 4
qtdeVendasSexta = 3
qtdeVendasSabado = 2
qtdeVendasDomingo = 1

ValorSemana = 300 * (qtdeVendasSegunda + qtdeVendasTerca + qtdeVendasQuarta + qtdeVendasQuinta + qtdeVendasSexta)
ValorFDS =  250 * (qtdeVendasSabado + qtdeVendasDomingo)
lucrototal = ValorFDS + ValorSemana
print(lucrototal)

lucrototal = 300*(sum(vendasSemana[:5])) + 250*(sum(vendasSemana[5:]))

print(lucrototal)

8250
8250

In [ ]:
qtdeVacinaDisponivel = 520
qtdeVacinados = 32
qtdePopulacao = 100
qtdeSaude = 30

qtdFalta = qtdePopulacao - qtdeVacinados
VacinaDis = qtdeVacinaDisponivel - qtdeVacinados
c = qtdFalta//5

print(qtdFalta)
print("Sobrou vacinas",VacinaDis)
print(c)

if c <= qtdeSaude:
  print("tem profissional suficiente")

68
Sobrou vacinas 488
13
tem profissional suficiente

In [ ]:
Nvendas = int(input("Numero de Vendas: "))
salarioBase = 4200
comissao = [20,30]

if Nvendas < 30:
  total = salarioBase + comissao[0]*Nvendas
else:
  total =salarioBase + comissao[1]*Nvendas

print(total)

Numero de Vendas: 40
5400

### Perceptron

In [ ]:
import numpy as np

In [ ]:


def perceptron():

In [ ]:
print((-0.19) + (-0.48) + 0.4)

-0.2699999999999999